<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>{{title}}</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>{{title}}</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Account Settings Area Start Here -->
    <div class="row">

        <div class="col-12 ">
            <div class="card account-settings-box">
                <div class="card-body">
                    <div class="heading-layout1 mg-b-20">
                        <div class="item-title">
                            <h3>User Details</h3>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/tutor/edit-profile"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="user-details-box ">
                        <div class="item-img">
                            <img src="/uploads/tutor/{{profileDetails.image}}" width="250px" height="250px" alt="user">
                            <div class="col-md-6" style="float: right;display: none;" id="drag-drop-area">
                            </div>


                        </div>
                        <button class="btn-fill-md btn-gradient-yellow btn-hover-bluedark text-light"
                            onclick="toggleProfileEdit()">Change image</button>


                        <div class="item-content">
                            <div class="info-table table-responsive form-group">
                                <form action="/tutor/edit-profile" method="POST">
                                    <table class="table ">
                                        <tbody>
                                            <tr>
                                                <td>Name:</td>
                                                <td><input required type="text" name="name"
                                                        class="bold-text form-control text-dark"
                                                        value="{{profileDetails.name}}"></input></td>
                                            </tr>

                                            <tr>
                                                <td>Gender:</td>
                                                <td class="bold-text">
                                                    <select required name="gender" class="select2" name="gender">
                                                        <option value="Male">{{profileDetails.gender}}</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="others">Others</option>
                                                    </select>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>Date Of Birth:</td>
                                                <div class="form-group">
                                                    <td>
                                                        <input required type="text" name="dob" value="{{profileDetails.dob}}"
                                                            placeholder="{{profileDetails.dob}}"
                                                            class="bold-text form-control air-datepicker"
                                                            data-position='bottom right'>

                                                    </td>
                                                </div>
                                            </tr>


                                            <tr>
                                                <td>E-mail:</td>
                                                <td class="font-medium text-dark-medium">
                                                    <input required name="email" class=" bold-text form-control"
                                                        value="{{profileDetails.email}}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>ID No:</td>
                                                <td class="font-medium text-dark-medium">
                                                    <input class="bold-text" type="text" class="form-control"
                                                        value="{{profileDetails.id_no}}" disabled>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Phone:</td>
                                                <td class="font-medium text-dark-medium">
                                                    <input required name="phone" class="bold-text form-control" type="text"
                                                        value="{{profileDetails.phone}}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-12 form-group mg-t-8">
                                        <button type="submit"
                                            class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">SUBMIT</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Account Settings Area End Here -->
    <script src="https://releases.transloadit.com/uppy/v1.23.2/uppy.min.js"></script>
    <script>

        var uppy = Uppy.Core()

        uppy.use(Uppy.Dashboard, {
            inline: true,
            target: '#drag-drop-area'
        })
        uppy.use(Uppy.XHRUpload, {
            endpoint: 'http://ec2-18-221-154-178.us-east-2.compute.amazonaws.com:3000/tutor/editprofile-image',
            fieldName: 'photo',
            formData: true
        })

        uppy.use(Uppy.Webcam, { target: Uppy.Dashboard })




        uppy.on('complete', (result) => {
            console.log('Upload complete! We’ve uploaded these files:', result.successful)
            location.reload()
        })

        let toggleProfileEdit = function () {
            let div = document.getElementById('drag-drop-area')
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }

    </script>