<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>{{title}}</h3>
        <ul>
            <li>
                <a href="index.html">Dashboard</a>
            </li>
            <li>{{title}}</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Admit Form Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Edit Student</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="new-added-form" id="editForm">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>First Name *</label>
                        <input type="text" name="fname" value="{{student.fname}}" id="name" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Last Name *</label>
                        <input type="text" name="lname" value="{{student.lname}}" placeholder="" class="form-control">
                    </div>
                    <input type="text" value="{{student._id}}" hidden name="_id">
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Gender *</label>
                        <select id="gender" class="select2" name="gender">
                            {{#if isMale }}
                            <option selected value="Male">Male</option>
                            <option value="Female">Female</option>

                            {{else}}
                            <option selected value="Female">Female</option>
                            <option value="Male">Male</option>
                            {{/if}}

                        </select>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Date Of Birth *</label>
                        <input type="text" id="dob" name="dob" value="{{student.dob}}" placeholder="dd/mm/yyyy"
                            class="form-control air-datepicker" data-position='bottom right'>
                        <i class="far fa-calendar-alt"></i>
                    </div>

                    {{!-- <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Blood Group *</label>
                        <select class="select2">
                            <option value="">Please Select Group *</option>
                            <option value="1">A+</option>
                            <option value="2">A-</option>
                            <option value="3">B+</option>
                            <option value="3">B-</option>
                            <option value="3">O+</option>
                            <option value="3">O-</option>
                        </select>
                    </div> --}}

                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>E-Mail</label>
                        <input type="email" name="email" value="{{student.email}}" id="email" class="form-control">
                    </div>


                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Admission ID</label>
                        <input type="text" name="admissionNum" value="{{student.admissionNum}}" class="form-control"
                            readonly="readonly">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Phone</label>
                        <input type="text" id="phone" name="phone" value="{{student.phone}}" class="form-control">
                    </div>
                    {{!-- <div class="col-lg-6 col-12 form-group">
                        <label>Short BIO</label>
                        <textarea class="textarea form-control" name="message" id="form-message" cols="10"
                            rows="9"></textarea>
                    </div> --}}
                    <div class="col-lg-6 col-12 form-group mg-t-30">
                        <label class="text-dark-medium">Upload Student Photo (150px X 150px)</label>
                        <input type="file" class="form-control-file">
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <a onclick="editStudent()"
                            class="text-light btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</a>
                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Admit Form Area End Here -->

    <script>

        let editStudent = function () {
            let name, gender, dob, email, phone
            name = document.getElementById('name').value
            gender = document.getElementById('gender').value
            dob = document.getElementById('dob').value
            email = document.getElementById('email').value
            phone = document.getElementById('phone').value

            let confirmationText = `Name: ${name}\nGender: ${gender}\nDate Of Birth: ${dob}\nEmail: ${email}\nPhone Number:${phone}`


            Swal.fire({
                title: 'Is this okay?',
                html: '<pre>' + confirmationText + '</pre>',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Edit it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url:'/tutor/edit',
                        method:'post',
                        data:$('#editForm').serialize(),
                        success:(response)=>{
                            location.href = '/tutor/all-students'
                        }
                    })
                }
            })
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>