<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>{{title}}</h3>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>{{title}}</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <div class="row">
        <!-- Dashboard summery Start Here -->
        <div class="col-12 col-4-xxxl">
            <div class="row">
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-magenta">
                            <i class="flaticon-calendar text-magenta"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="counter"
                                    data-num="{{attendanceData.totalClass}}">{{attendanceData.totalClass}}</span></div>
                            <div class="item-title">Total Class</div>
                        </div>
                    </div>
                </div>
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-blue">
                            <i class="flaticon-shopping-list text-blue"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="text-success counter"
                                    data-num="{{attendanceData.present}}">{{attendanceData.present}}</span></div>
                            <div class="item-title">Present</div>
                        </div>
                    </div>
                </div>
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-yellow">
                            <i class="flaticon-download text-orange"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="counter text-danger"
                                    data-num="{{attendanceData.absent}}">{{attendanceData.absent}}</span></div>
                            <div class="item-title">Absent</div>
                        </div>
                    </div>
                </div>
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-red">
                            <i class="flaticon-open-book text-red"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span></span><span class="counter"
                                    data-num="{{attendanceData.avg}}">{{attendanceData.avg}}</span>%</div>
                            <div class="item-title">Present percentage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard summery End Here -->




    </div>