<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>{{title}}</h3>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>{{title}}</li>
        </ul>
    </div>

    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Class Schedules</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">
                    <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by ID ..." class="form-control">
                    </div>
                    <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Name ..." class="form-control">
                    </div>
                    <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Class ..." class="form-control">
                    </div>
                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>
                </div>
            </form>
            <!-- Class Table Area Start Here -->
            <div class="card height-auto col-md-12">
                <div class="card-body">


                    <div class="table-responsive">
                        <table class="table display data-table text-nowrap">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Topic</th>


                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                    {{!-- <th>Status</th> --}}

                                </tr>
                            </thead>
                            <tbody>
                                {{#each notes}}
                                <tr>
                                    <td>{{@key}}</td>
                                    <td>{{topic}}</td>

                                    <td>{{date}}</td>
                                    <td>{{time}}</td>

                                    {{#if marked}}
                                    <td><button type="button"
                                            class="btn-fill-lmd radius-30 text-light shadow-dark-pastel-green bg-dark-pastel-green">marked</button>
                                    </td>
                                    <td><a type="button" href="/note/{{_id}}"
                                            class="btn-fill-lmd radius-30 text-light shadow-dark-pastel-green bg-dark-pastel-green">view</a>
                                    </td>
                                    {{else}}

                                    <td><button type="button"
                                            class="btn-fill-lmd radius-30 text-light shadow-dark-pastel-red bg-dark-pastel-red">Pending</button>
                                    </td>
                                    <td><a type="button" href="/note/{{_id}}"
                                            class="btn-fill-lmd radius-30 text-light shadow-dark-pastel-green bg-dark-pastel-green">view</a>
                                    </td>
                                    {{/if}}



                                </tr>
                                {{/each}}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Class Table Area End Here -->