<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>{{title}}</h3>
        <ul>
            <li>
                <a href="/Notes">Notes</a>
            </li>
            <li>{{note.topic}}</li>
        </ul>
    </div>

    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Notes </h3>
                </div>
            </div>
            <div class="col-md-12">
                <ul id="tabs" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#home1" data-toggle="tab"
                            class="nav-link small text-uppercase active">Video</a></li>
                    <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab"
                            class="nav-link small text-uppercase ">YouTube video</a></li>
                    <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab"
                            class="nav-link small text-uppercase">Note</a></li>
                </ul>
                <br>
                <div id="tabsContent" class="tab-content">
                    <div id="home1" class="tab-pane fade active show">
                        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
                            data-setup="{}">
                            <source src="/uploads/notes/{{note.video}}" type="video/mp4" />
                            {{!-- <source src="MY_VIDEO.webm" type="video/webm" /> --}}
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                    </div>
                    <div id="profile1" class="tab-pane fade  ">
                        <div class="row pb-2">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/{{note.youtubeLinkCode}}" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div id="messages1" class="tab-pane fade ">
                        <iframe src="/uploads/notes/{{note.pdf}}" width="1000" height='600' frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.0/dist/sweetalert2.all.min.js"></script>

    <script>

        var video = document.getElementById("my-video");
        video.onended = function () {
            console.log('function called')
            let noteId = '{{note._id}}'
            $.ajax({
                url: '/mark-attendance/' + noteId,
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })

                        Toast.fire({
                            icon: 'success',
                            title: 'Attendance Mark Suceesfully'
                        })
                    }
                }
            })
        };
    </script>