<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>{{student.fname}}</h3>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>Students</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <div class="card height-auto">

        <div class="row">
            <div class="card-body">
                <div class="col-md-6 m-5 float-right">
                    <h3>Name: {{student.fname}} {{student.lname}}</h3>
                    <h3>Admission No: {{student.admissionNum}}</h3>
                    <h3>Mob: {{student.phone}}</h3>
                    <h3>Email: {{student.email}}</h3>
                </div>
                <div class="col-md-6">
                    <img style="border-radius: 50%;" src="/uploads/tutor/defaultProfilePic.jpg" height="250px"
                        alt="profile-Pic">
                </div>
            </div>
        </div>
    </div>
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Assignments</h3>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                        <tr>

                            <th>No</th>
                            <th>Topic</th>
                            <th>File</th>
                            <th>Date</th>

                            <th>Time</th>
                            <th>Mark</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each assignments}}
                        <tr>
                            <td>{{@key}}</td>
                            <td>{{topic}}</td>
                            <td>{{file}}</td>
                            <td>{{date}}</td>
                            <td>{{time}}</td>
                            <td>
                                <input type="text" onchange="submitMark('{{id}}')" id="mark-{{id}}" value="{{mark}}"
                                    placeholder='mark'>
                            </td>
                            <td><a type="button" href="/tutor/assignment/{{id}}"
                                    class="btn-fill-lmd radius-30 text-light shadow-dark-pastel-green bg-dark-pastel-green">view</a>
                            </td>



                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.0/dist/sweetalert2.all.min.js"></script>

        <script>
            let submitMark = function (id) {
                let mark = document.getElementById('mark-' + id).value;
                console.log('mark submit function called, marks : ' + mark)
                $.ajax({
                    url: '/tutor/assignment-mark',
                    method: 'post',
                    data: {
                        id: id,
                        mark: mark
                    },
                    success: (response) => {
                        if (response.status) console.log('mark updated')
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })

                        Toast.fire({
                            icon: 'success',
                            title: 'Mark submitted'
                        })
                    }
                })
            }
        </script>